@import 'https://fonts.googleapis.com/css?family=Hind:400,700';

body{
font-family: 'Hind', sans-serif;
	a{
	color:$crg-gray;
	}
	
	  a:hover, a:active, a:focus {
	  color: #000;
	  text-decoration: none;
	  }

}

.selected-link{
a{
	  color: #000;
	  font-weight: bold; 
}
}

