@import 'https://fonts.googleapis.com/css?family=Hind:400,700';

body{
font-family: 'Hind', sans-serif;
	a{
	color:$crg-gray;
	}
	
	  a:hover, a:active, a:focus {
	  color: #000;
	  text-decoration: none;
	  }

}

.selected-link{
a{
	  color: #000;
	  font-weight: bold; 
}
}

.entry-title{
padding: 20px;
margin-top: 100px;
	@media (min-width: $screen-sm-min) {
	margin-top: 130px;
	}
}

.entry-content {
padding: 20px;
}

entry-summary{
padding: 20px;
}

 .wp-caption {
 width: 97% !important;
 text-align: center;
 border: none;
 }
 
 .search-container{
 margin-top: 100px;
 	@media (min-width: $screen-sm-min) {
 	margin-top: 130px;
 	}
 }
 
 .press-item{
 margin: 20px;
 margin-top: 100px;
 	@media (min-width: $screen-sm-min) {
 	margin-top: 130px;
 	}
 }

