// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

// Front page image height
$front-page-img-height-mob: 400px;
$front-page-img-height-sm: 600px;
$front-page-img-height-md: 800px;
$front-page-img-height-lg: 900px;
