// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$crg-gray: 				#7A7A7A;
$title-black-bg:		rgba(0,0,0,.5);

// Front page image height
$front-page-img-height-mob: 650px;
$front-page-img-height-sm: 800px;
$front-page-img-height-md: 800px;
$front-page-img-height-lg: 900px;

// Artist page cover image height
$artist-cover-img-height-mob: 210px;
$artist-cover-img-height-sm: 235px;
$artist-cover-img-height-md: 250px;
$artist-cover-img-height-lg: 280px;

//Menu widths

$mobile-menu-width: 300px;
$desktop-menu-width: 500px;


//Forms
$mailing-list-width: 320px;
$search-width: 350px;
