#biography { /* Important, expands the biography div for printing if it is collapsed */
  height: 100%;
}

/* CSS reset */
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
html,body {
    font-size: 14px;
    line-height: 1.428571429;
    padding:0;
    margin: 0 30px;
}
