.artist-list{
margin-top: 100px;
	@media (min-width: $screen-md-min) {
	margin-top: 200px;
	}
a{
font-size: 16px;
}

.artist-link{
height: 60px;
}

.col-xs-6 {
padding:0px;
}

.artist-thumb {
text-align: center;
}

.artist-link{
text-align: center;
}

}
