.editions{
text-align: center;
margin-top: 80px;
	@media (min-width: $screen-md-min) {
	margin-top: 130px;
	}
a{
font-size: 16px;
}

.artist-link{
height: 60px;
}

.col-xs-6 {
padding:0px;
}

.artist-thumb {
text-align: center;
}

.artist-link{
text-align: center;
}

}

.editions-publication{
padding-top: 300px;
}
