.exhibition-links{
text-align: left;
margin-top: 50px;
	@media (min-width: $screen-sm-min) {
	margin-top: 70px;
	}
}


.past-exhibitions-list{
text-align: center;

}

.exhibition-item{
height:350px;
}

.exhibition-date{
font-size: 12px;
}

.exhibition-list{
text-align: center;
}

.current-exhibition-item{
@media (min-width: $screen-sm-min) {
height:400px;
}
}

.current-exhibition-label{
text-align: center;
@media (min-width: $screen-sm-min) {
text-align: left;
}
}
.current-exhibition-thumb{
text-align: center;
@media (min-width: $screen-sm-min) {
text-align: right;
}
}