// get rid of the boortstrap grey bg for selected menu items and make them bold
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover
{
color: black;
background-color: white;
font-weight: bold;
}

// get rid of menu border
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
border: none;
}

.navbar-fixed-top {
margin-top: 30px;
background-color: transparent;
border: none;

  .navbar-brand {
    background-color: white;
  }

   .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    background-color: $crg-gray;
  }

  .menu-container {
  font-size: 18px;
    background-color: white;
	float:right;
    margin-top: 20px;
    margin-right: -14px;
	width: $mobile-menu-width;
	@media (min-width: $screen-sm-min){
	width: $desktop-menu-width;
	margin-top: 0px;
	}
  }

}

.hamberger-menu-container {
background-color: white;
height: 50px;
width: 100px;
float: right;
}

// the black banner under the hamberger menu with the address
.hamburger-nav-address{
float: right;
background-color: black;
height: 20px;
width: 100px;
color: white;
font-size: 12px;
padding-right: 10px;
padding-top: 3px,
}

.desktop-nav-address{
float: right;
background-color: black;
height: 20px;
width: $desktop-menu-width;
color: white;
font-size: 12px;
padding-left: 15px;
padding-top: 3px,
}

.navbar-nav {
margin-top: 0px;
margin-bottom:0px;
li{
a{
color: black;
}

}

}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text{
color: black;
}


