.navbar-fixed-top {
margin-top: 30px;
background-color: transparent;
border: none;

.navbar-brand{
background-color: white;
}

.navbar-brand:hover{
background-color: white;
}

.collapse{
background-color: white;
}

}