.container {}

.wrap.container.front-page {
	margin:0px;
	padding:0px;
	margin-top:-20%;
	width:100%;
}

.front-page-container {
	max-width:100%;
	background-color: blue;

// changed proper aspect ratio
	img{
		width: 100%;
		height: auto
	}

	margin:0px;
	padding:0px;

	img {
		width:100%;
		height: $front-page-img-height-mob;
		object-fit: cover;

		@media (min-width: $screen-sm-min) {
			height: $front-page-img-height-sm;
		}

		@media (min-width: $screen-md-min) {
			height: $front-page-img-height-md;
		}

		@media (min-width: $screen-lg-min) {
			height: $front-page-img-height-lg;
		}
	}
	
	// front page show title and artist name
	h1, h2{
		color: white;
	   padding: 20px;
	background-color: $title-black-bg;
	a, a:hover{
	color:white;
	text-decoration: none;

	
	}
	
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:0;
	width: 100%;

	
	} // h1, h2
	
	h1{
	@media (min-width: $screen-md-min) {
	width: $desktop-menu-width;
	}
	font-size: 30px;
	}
	
	h2{
	@media (min-width: $screen-md-min) {
	width: $mobile-menu-width;
	margin-left:0;
	margin-right:auto;
	}
	font-size: 18px;
	}
	
}
