.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
margin-bottom: 30px;
}


.main {
	padding-left:0;
	padding-right: 0;
	margin:0;
}

.container {
}
.content.row {
	margin-left: 0;
	margin-right: 0;
}

.wrap.container {
	margin:0px;
	padding:0px;
	// margin-top:-20%;
	width:100%;
}

//
// Appears like no need for that, now container is 100% width for every page
//
.wrap.container.front-page {
// 	margin:0px;
// 	padding:0px;
	margin-top:-20%;
// 	width:100%;
}

.front-page-container {
	max-width:100%;
	//background-color: blue;

// changed proper aspect ratio
	img{
		width: 100%;
		height: auto
	}

	margin:0px;
	padding:0px;

	img {
		width:100%;
		height: $front-page-img-height-mob;
		object-fit: cover;

		@media (min-width: $screen-sm-min) {
			height: $front-page-img-height-sm;
		}

		@media (min-width: $screen-md-min) {
			height: $front-page-img-height-md;
		}

		@media (min-width: $screen-lg-min) {
			height: $front-page-img-height-lg;
		}
	}

	// front page show title and artist name
	h1, h2{
		color: white;
	   padding: 20px;
	background-color: $title-black-bg;
	a, a:hover{
	color:white;
	text-decoration: none;


	}

	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:0;
	width: 100%;


	} // h1, h2

	h1{
	@media (min-width: $screen-md-min) {
	width: $desktop-menu-width;
	}
	font-size: 30px;
	}

	h2{
	@media (min-width: $screen-md-min) {
	width: $mobile-menu-width;
	margin-left:auto;
	margin-right:0;
	}
	font-size: 18px;
	}


}

// front page section seprating img from the newsletter form
.gray-arrow{
position: absolute;
width: 100%;
height:15px;
background-color: $crg-gray;
margin-top: -20px;
 	.glyphicon-triangle-bottom{
		width: 100%;
		color: $crg-gray;
 	}
	.glyphicon-triangle-bottom:before{
	font-size: 40px;
    display:block;
    text-align:center
	}
}

.hours {
font-size: 16px;
//border: 3px solid blue;
text-align: center;
padding-top: 20px;

@media (min-width: $screen-md-min) {
text-align: left;
padding-top: 0px;
}

}//hours

.address {
font-size: 16px;
//border: 3px solid red;
    text-align: center;
	padding-top: 20px;

	@media (min-width: $screen-sm-min) {
	text-align: right;
	padding-top: 0px;
	}
}//address

.google-map {
//border: 3px solid black;
}


.social-media {
//border: 3px solid yellow;
width: $search-width;
margin: auto;
text-align:center;
 img{
 padding: 15px;
 padding-top: 50px;
 }
}

// Additional classes for proper floating for grid divs
@media (min-width: $screen-sm-min) {
.pull-right-sm {
	float: right;
}

}
@media (min-width: $screen-md-min) {
.pull-right-md {
	float: right;
}

}
@media (min-width: $screen-lg-min) {
.pull-right-lg {
  float: right;
}
}
@media (min-width: $screen-sm-min) {
.pull-left-sm {
	float: left;
}

}
@media (min-width: $screen-md-min) {
.pull-left-md {
	float: left;
}

}
@media (min-width: $screen-lg-min) {
.pull-left-lg {
  float: left;
}
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.content {

	element.style {
		width: 300px;
	}
	figure {
		float: left;
		position: relative;
		width:50px;
// 		-webkit-margin-before: 0;
// -webkit-margin-after: 0;
// -webkit-margin-start: 0;
// -webkit-margin-end: 0;
	}

	p {
		float:left;
		display: block;
		}
	.wp-caption {

	}

	figcaption {
		width: 50px;
	}
	.thumbnail, .wp-caption
	{
		padding:0;
		border:0;
	}
	img {
		position: relative;;
		width:50px;
		height: $artist-cover-img-height-mob;
		object-fit: cover;

		@media (min-width: $screen-sm-min) {
			height: $artist-cover-img-height-sm;
		}

		@media (min-width: $screen-md-min) {
			height: $artist-cover-img-height-md;
		}

		@media (min-width: $screen-lg-min) {
			height: $artist-cover-img-height-lg;
		}
	}
}
