.exhibition-page-container {
	max-width:100%;
	margin-bottom: 50px;
	position: relative;

	img {
		width:100%;
		height: $artist-cover-img-height-mob;
		object-fit: cover;

		@media (min-width: $screen-sm-min) {
			height: $artist-cover-img-height-sm;
		}

		@media (min-width: $screen-md-min) {
			height: $artist-cover-img-height-md;
		}

		@media (min-width: $screen-lg-min) {
			height: $artist-cover-img-height-lg;
		}
	}

	// show artist name
	h1 {
		// color: white;
	  // padding: 20px;
		// background-color: $title-black-bg;
		  // margin-top: 10px;
		// margin-bottom: 0;

		a, a:hover{
			color:white;
			text-decoration: none;
		}

    //
		// margin-left:0;
		// margin-right:auto;
		// width: 100%;
	} // h1, h2

  .page-header {
    color: white;
    padding: 5px 20px;
    background-color: $title-black-bg;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:0;
    margin-right:auto;
    width: auto;
    word-wrap: break-word;
  }

  h1 {
    font-size: 20px;
    @media (min-width: $screen-xs-min) {
      font-size: 30px;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom:20px;
    font-size: 15px !important;
    font-weight: 300 !important;

    @media (min-width: $screen-xs-min) {
      font-size: 20px !important;
  }

  h1, h2 {
    line-height: 1;
	}
  }
}

#press-release {
  height: 400px;
  overflow: hidden;
}

.participating-artists {
  color: black;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  & a {
    color: black;
  }
}

.exhibition-container-width {
@media (min-width: $screen-sm-min) {
  width: 550px;
}
@media (min-width: $screen-md-min) {
  width: 650px;
}
@media (min-width: $screen-lg-min) {
  width: 1170px;
}
}
