body {
padding: 0;
margin: 0;

}

.image {
  height: 0;
  min-width: 320px;
  width: 100%;
  background-image: url("img/mobile-portrait.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.click {
  width: 100%;
  height: 100%;
  display: none;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 10px) {
  .image {
    padding-top: 453.125%;
    background-image: url("img/mobile-portrait.jpg");
  }

  .click {
    padding-top: 305%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
  }

  .active {
    padding-top: 453.125%;
    background-image: url("img/mobile-portrait-menu.jpg");
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 400px) {
  .image {
    padding-top: 182.29167%;
    background-image: url("img/tablet-portrait.jpg");
  }
  .click {
    display: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 830px) {
  .image {
    padding-top: 109.76562%;
    background-image: url("img/desktop.jpg");
  }

  .click {
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .image {
    padding-top: 82.361111%;
    background-image: url("img/desktop-hd.jpg");
  }
  .click {
    display: none;
  }
}
